.idea/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.idea/
venv/
node_modules/
__pycache__/
**.pyc

data/russia_losses_personnel.csv
data/Ukraine_Black_Sea_2020_2023_Apr28-1 - Sheet1.csv
