<!DOCTYPE html>
<html>
<head>
<title>CCBDA war_info</title>
</head>
<body>
  <style>
      #chart-wrapper {
        display: inline-block;
        position: relative;
        width: 40%;
      }
  </style>
  <div id="chart-wrapper">
      <canvas id="myChart3" width="800" height="400"></canvas>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{#      <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>#}
      <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
      <script>
      const ctx3 = document.getElementById('myChart3').getContext('2d');
      const myChart3 = new Chart(ctx3, {
          type: 'line',
          data: {
            labels : [{% for item in dates_all_days %}"{{ item }}",{% endfor %}],
              datasets: [{
                label: "Cumulative number of deaths",
                data : [{% for item in cumulative_losses_all_days %}{{ item }},{% endfor %}],
                backgroundColor: 'rgba(192,75,106,0.2)',
                borderColor: 'rgb(192,75,93)',
                borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      min: 0,
                      max: 200000,
                  },
                  x: {
                      type: 'time',
                      time: {
                          unit: 'day',
                          parser: 'yyyy-MM-dd'
                      }
                  }
              }
          }
      });
      </script>
  </div>
  <div id="chart-wrapper">
      <canvas id="myChart2" width="800" height="400"></canvas>
      <script>
      const ctx2 = document.getElementById('myChart2').getContext('2d');
      const myChart2 = new Chart(ctx2, {
          type: 'line',
          data: {
            labels : [{% for item in dates_last_month %}"{{ item }}",{% endfor %}],
              datasets: [{
                label: "Losses",
                data : [{% for item in daily_losses_last_month %}{{ item }},{% endfor %}],
                backgroundColor: 'rgba(192,75,106,0.2)',
                borderColor: 'rgb(192,75,93)',
                borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  },
                  x: {
                      type: 'time',
                      time: {
                          unit: 'day',
                          parser: 'yyyy-MM-dd'
                      }
                  }
              }
          }
      });
      </script>
  </div>

</body>
</html>